* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}


.Home, body {
    background-color : #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FF5841;
    overflow: auto;
}

#footer {
    margin-top: auto;
    padding: 1rem;
}

#homeHeader {
    text-align: center;
    padding: 1rem;
}

#homeContent {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 28pt;
    
}

#homeInfo {
    padding: 2rem;
    text-align: left;
    font-weight: bold;
    font-size: 20pt;
}

#info {
    padding: 1rem;
    font-size: 15pt;
    color : #594D5B;
}
.Home .Navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
    border-top: 2px solid #C53678;
    border-bottom: 2px solid #C53678;
 
}

.Home .Navbar ul li {
    padding: 10px;
}

.Home .Navbar ul li a {
    text-decoration: none;
    color: #C53678;
    font-size: 18pt;
    font-weight: bold;

}

.Home .Navbar ul li a:hover {
    color: black;
}

.facebook-button {
    display: inline-block;
    padding: 8px 16px; /* Adjust padding to make the button smaller */
    background-color: #3b5998;
    color: white;
    text-decoration: none;
    border-radius: 4px; /* Adjust border radius */
    font-weight: bold;
    font-size: 14px; /* Adjust font size */
    transition: background-color 0.3s ease;
}

.facebook-button:hover {
    background-color: #2d4373;
}

.phone-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #28a745; /* Green color for phone button */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.phone-button:hover {
    background-color: #218838; /* Darker shade of green on hover */
}






