* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.Home, body {
    background-color : #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FF5841;
    overflow: auto;
}

#footer {
    margin-top: auto;
    padding: 1rem;
}

#homeHeader {
    text-align: center;
    padding: 1rem;
}

#homeContent {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 28pt;
    
}

.Home .Navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
    border-top: 2px solid #C53678;
    border-bottom: 2px solid #C53678;
 
}

.Home .Navbar ul li {
    padding: 10px;
}

.Home .Navbar ul li a {
    text-decoration: none;
    color: #C53678;
    font-size: 18pt;
    font-weight: bold;

}

.Home .Navbar ul li a:hover {
    color: black;
}


