* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

.Team, body {
    background-color : #F0EAD6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FF5841;
    overflow: auto;
}


#footer {
    margin-top: auto;
    padding: 1rem;
}

#teamHeader {
    text-align: center;
    padding: 1rem;
}

#teamContent {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 28pt;
    color: #FF5841
}
    

.Team .Navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
    border-top: 2px solid #C53678;
    border-bottom: 2px solid #C53678;
}

.Team .Navbar ul li {
    padding: 10px;
}

.Team .Navbar ul li a {
    text-decoration: none;
    color: #C53678;
    font-size: 18pt;
    font-weight: bold;
}

.Team .Navbar ul li a:hover {
    color: black;
}

